---
layout: default
title: readings
---
<h1 class="page-title">{{ page.title }}</h1>
<p>
    I spend the majority of my free time reading. Here is a list of books I've
    read since I started keeping track a few years ago, sorted by most recently
    read first. Particularly great books are in <span class="green-text">green</span>.
</p>
<p>
    I have about half of these titles in my personal library of physical books.
    I'm also a devoted patron of <a href="https://sfpl.org/" target="_blank">SFPL</a>
    and frequently loan digital books.
</p>

<ul>
    {% for reading in site.data.readings %}
        <li>
            <a href="{{ reading.link }}" target="_blank"><span {% if reading.great_read %}class="green-text"{% endif %}>{{ reading.title }}</span></a><span class="reading-subtitle">{% if reading.subtitle %}: {{ reading.subtitle }}{% endif %}</span>
            <p class="reading-author">{{ reading.author }}</p>
        </li>
    {% endfor %}
</ul>
