<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/ropa-sans.css">
  </head>
  <body>
    <div class="main-body pure-g">
        {% include navigation.html %}
        <div id="{{ page.title }}" class="pure-u-2-5 main-content">
            {{ content }}
        </div>
    </div>
  </body>
</html>
